ion-card-title {
    text-align: center;
}

ion-card-subtitle {
    text-align: center;
}

ion-col {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.bleu {
    color: #5260ff;
}