<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Catalogue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let m of models">
    <img src="./assets/img/{{m.photo}}" />
    <ion-card-header>
      <ion-card-subtitle>{{m.nom}}</ion-card-subtitle>
      <ion-card-title>
        <span *ngIf="m.id==0">A partir de </span>{{m.prix}} CFA
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" routerLink="/add-commande">Commander</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- <div *ngFor="let m of models">Nom: {{m.nom}}</div> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-catalogue">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>