<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter une commande</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Modèle</ion-label>
    </ion-item>
    <ion-item>
      <ion-select interface="action-sheet" class="select-full-width">
        <ion-select-option *ngFor="let m of models" [value]="m">{{m.nom + ' (' + m.prix+')'}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Client</ion-label>
    </ion-item>
    <ion-item>
      <ion-select interface="action-sheet" class="select-full-width">
        <ion-select-option *ngFor="let c of clients" [value]="c">{{c.nom + ' (' + c.numero+')'}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Tarif</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="number"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>